@use "../abstracts" as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border-width: 2px;
    border-style: solid;
    font-size: 1.125rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-accent;
    }

    &--light {
        border-color: $color-white;
        min-width: 250px;
        min-height: 60px;
        background-color: rgba($color-white, 0.1);
    }

    &--primary {
        background-color: rgba($color-primary, 0.8);
        border-color: $color-primary;
        min-width: 350px;
        min-height: 60px;
    }
}

.visually-hidden {
    @include visually-hidden;
}